---
import { PROJECTS } from "./ProjectsItem.astro"

const title_style = "grid col-span-2 text-2xl font-bold text-rose-red dark:text-gray-200";
const pills_style = "flex mt-1 space-x-4";
const ul_style = "flex flex-col mb-1 gap-x-2";
const li_style = "content-around space-y-3 mt-2";
const description_style = "mt-2 justify-self-center text-wrap text-gray-700 dark:text-gray-700";
const span_style = "flex gap-x-2 rounded-full text-xs text-nowrap py-1 px-2";
const border_style = "bg-mint-green border border-green-200 shadow dark:bg-keppel dark:border-green-700";

---
<div id="default-carousel" class="relative" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-[650px] overflow-hidden rounded-lg">
    <!-- Item 1 -->
    {PROJECTS.map(({ image, title, description, tags }) => (
      <div class= "justify-center place-content-start grid grid-flow-row duration-700 ease-in-out bg-tea-rose dark:bg-dark-bg-color flex-wrap " data-carousel-item>
        <div class={`grid grid-rows-1 place-self-center ${border_style}`}>
          <img src={image} alt={title} class="md:max-w-full md:max-h-[500px] rounded-t-lg" />
        </div>
        <div class={`grid grid-cols-2 grid-flow-rows p-4 rounded-b-lg ${border_style}`}>
          <h3 class={title_style}>{title}</h3>
          <div class={`${pills_style}`}>
            <ul class={ul_style}>
              {tags.map((tag) => (
                <li class={li_style}>
                  <span class={`${span_style} ${tag.class} self-start`}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
          </div>
          <div class={description_style}>
            <p>{description}</p>
          </div>
      </div>
      </div>
    ))}
<!--PROJECTOS VERTICALES  
    {PROJECTSV.map(({ image, title, description, tags }) => (
    <div class= "justify-center place-content-start grid grid-flow-col duration-700 ease-in-out bg-tea-rose dark:bg-dark-bg-color flex-wrap" data-carousel-item>
      <div class={`grid  place-self-center ${border_style}`}>
        <img src={image} alt={title} class="md:max-w-full md:max-h-full max-w-full max-h-full rounded-l-lg" />
      </div>
      <div class={`md:flex md:flex-col grid-flow-col md:py-16 md:space-y-6 content-center p-4 rounded-r-lg ${border_style}`}>
        <h3 class={title_style}>{title}</h3>
        <div class={pills_style}>
          <ul class={ul_style}>
            {tags.map((tag) => (
              <li class={li_style}>
                <span class={`${span_style} ${tag.class}`}>
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
        </div>
        <div class={description_style}>
            <p>{description}</p>
        </div>
      </div>
    </div>
  ))}-->
  </div>
  <style>
    p {
      white-space: pre;}
  </style>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="5"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="6"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="7"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="8"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 9" data-carousel-slide-to="9"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 10" data-carousel-slide-to="10"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 11" data-carousel-slide-to="11"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 12" data-carousel-slide-to="12"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 13" data-carousel-slide-to="13"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 14" data-carousel-slide-to="14"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 15" data-carousel-slide-to="15"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 16" data-carousel-slide-to="16"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 17" data-carousel-slide-to="17"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 18" data-carousel-slide-to="18"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 19" data-carousel-slide-to="19"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 20" data-carousel-slide-to="20"></button>
  </div>
  <!-- Slider controls -->
<button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
    </span>
</button>
<button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
    </span>
</button>
</div>