---
import CarouselGalery from "./Carousel.astro"
import { TAGS } from "./Tags.astro"

const cards_style = "flex flex-col max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700";
const title_style = "text-2xl font-bold text-rose-red dark:text-gray-200";
const pills_style = "flex flex-wrap mt-1 space-x-4";
const ul_style = "flex flex-row mb-1 gap-x-2";
const li_style = "content-around space-y-3 mt-2";
const description_style = "mt-2 text-wrap text-gray-700 dark:text-gray-700";
const span_style = "flex gap-x-2 rounded-full text-xs py-1 px-2";
const border_style = "max-w-sm bg-mint-green border border-green-200 rounded-xl shadow dark:bg-keppel dark:border-green-700"
---

<div class="grid md:grid-cols-5 md:grid-rows-3 grid-cols-1 gap-4">
  <div class=`md:ml-6 grid md:row-start-2 md:col-span-5 content-center order-last`>
    <div class="flex flex-col max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <CarouselGalery/> 
    </div>
  </div>

  <div class=`md:-ml-28 md:mr-28 md:col-start-4 md:row-start-3 md:col-span-2 self-start ${border_style}`>
    <div class=`${cards_style}`>
      <img alt= "Foto de proyecto Rostros en crisis" class="flex h-[350px] rounded-t-lg" src="/projects/vertical/v-3.webp"/>
    </div>
    <div class="p-5">
      <h3 class=`${title_style}`>
        Rostros en crisis
      </h3>
      <div class=`${pills_style}`>
        <ul class=`${ul_style}`>
          <li class=`${li_style}`>
            <span
              class={`${span_style} ${TAGS.RELIEVE.class} self-start`}
            >
              <TAGS.RELIEVE.icon class="size-4" />
              {TAGS.RELIEVE.name}
            </span>
            <span
            class={`${span_style} ${TAGS.CERAMICA.class} self-end`}
          >
            <TAGS.CERAMICA.icon class="size-4" />
            {TAGS.CERAMICA.name}
          </span>
          </li>
        </ul>
        <div class=`${description_style}`><p>Escultura</p><p>Varios tamaños</p><p>2023</p>
        </div>
      </div>
    </div>
  </div>

  <div class=`md:ml-6 md:row-start-3 md:col-span-2 self-start ${border_style}`>
    <div class=`${cards_style}`>
      <img alt= "Foto de proyecto Babilonia" class="flex h-[350px] rounded-t-lg" src="/projects/vertical/v-2.webp"/>
    </div>
    <div class="p-5">
      <h3 class=`${title_style}`>
        Babilonia
      </h3>
      <div class=`${pills_style}`>
        <ul class=`${ul_style}`>
          <li class=`${li_style}`>
            <span
              class={`${span_style} ${TAGS.GRABADO.class} self-start`}
            >
              <TAGS.GRABADO.icon class="size-4" />
              {TAGS.GRABADO.name}
            </span>
            <span
            class={`${span_style} ${TAGS.ESTAMPADO.class} self-end`}
          >
            <TAGS.ESTAMPADO.icon class="size-4" />
            {TAGS.ESTAMPADO.name}
          </span>
          </li>
        </ul>
        <div class=`${description_style}`><p>Papel algodón</p><p>50x50cm</p><p>2023</p>
        </div>
      </div>
    </div>
  </div>

  <div class=`md:ml-6 md:col-start-1 md:row-start-1 md:col-span-2 self-end ${border_style}`>
    <div class=`${cards_style}`>
      <img alt= "Foto de proyecto Extasis" class="flex h-[500px] rounded-t-lg" src="/projects/vertical/v-1.webp"/>
    </div>
    <div class="p-5">
      <h3 class=`${title_style}`>
        Éxtasis
      </h3>
      <div class=`${pills_style}`>
        <ul class=`${ul_style}`>
          <li class=`${li_style}`>
            <span
              class={`${span_style} ${TAGS.TONAL.class} self-start`}
            >
              <TAGS.TONAL.icon class="size-4" />
              {TAGS.TONAL.name}
            </span>
            <span
              class={`${span_style} ${TAGS.ACRILICA.class} self-end`}
            >
              <TAGS.ACRILICA.icon class="size-4" />
              {TAGS.ACRILICA.name}
            </span>
          </li>
        </ul>
        <div class=`${description_style}`><p>Cartón entelado</p><p>18x25cm</p><p>2024</p>
        </div>
      </div>
    </div>
  </div>

  <div class=`md:-ml-28 md:mr-28 md:col-start-4 md:col-span-2 self-end ${border_style}`>
    <div class=`${cards_style}`>
      <img alt= "Foto de proyecto Piscis" class="flex h-[500px] rounded-t-lg" src="/projects/vertical/v-5.webp"/>
    </div>
    <div class="p-5">
      <h3 class=`${title_style}`>
        Piscis
      </h3>
      <div class=`${pills_style}`>
        <ul class=`${ul_style}`>
          <li class=`${li_style}`>
            <span
              class={`${span_style} ${TAGS.TEXTURIZADO.class} self-start`}
            >
              <TAGS.TEXTURIZADO.icon class="size-4" />
              {TAGS.TEXTURIZADO.name}
            </span>
            <span
              class={`${span_style} ${TAGS.MIXTA.class} self-end`}
            >
              <TAGS.MIXTA.icon class="size-4" />
              {TAGS.MIXTA.name}
            </span>
          </li>
        </ul>
        <div class=`${description_style}`><p>Canvas</p><p>120x80cm</p><p>2023</p>
        </div>
      </div>
    </div>
  </div>
</div>